{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div style="width:100%;">
    <form action="/sell" method="post">
        <select name="symbol" >
            {% for opt in symbs %}
                <option value="{{opt.symb}}">{{opt.symb}}</option>
            {% endfor %}
        </select>
        <div class="my-3">
            <input name="shares" type="text" placeholder="Quantity">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">SELL</button>
        </div>

    </form>

</div>
{% endblock %}
